@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Filtrando elementos por categorias</title>

	<link rel="stylesheet" href="css/estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<script src="wwwroot/js/jquery-3.2.1.js"></script>
	<script src="wwwroot/js/script.js"></script>
</head>
<body>
	
	<div class="wrap">
		<h1>Escoge un producto</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="all">Todo</a>
				<a href="#" class="category_item" category="ordenadores">Ordenadores</a>
				<a href="#" class="category_item" category="laptops">Laptops</a>
				<a href="#" class="category_item" category="smartphones">Smartphones</a>
				<a href="#" class="category_item" category="monitores">Monitores</a>
				<a href="#" class="category_item" category="audifonos">Audifonos</a>
			</div>
			<section class="products-list">
				<div class="product-item" category="laptops">
					<img src="imagenes/laptop_hp.jpg" alt="" >
					<a href="#">Laptop Hp</a>
				</div>
				<div class="product-item" category="laptops">
					<img src="imagenes/laptop_toshiba.jpg" alt="" >
					<a href="#">Laptop Toshiba</a>
				</div>
				<div class="product-item" category="smartphones">
					<img src="imagenes/samsung_galaxy.jpg" alt="" >
					<a href="#">Samsung Galaxy</a>
				</div>
				<div class="product-item" category="smartphones">
					<img src="imagenes/iphone.jpg" alt="" >
					<a href="#">Iphone 7</a>
				</div>
				<div class="product-item" category="ordenadores">
					<img src="imagenes/pc_hp.jpg" alt="" >
					<a href="#">PC Hp</a>
				</div>
				<div class="product-item" category="ordenadores">
					<img src="imagenes/pc_lenovo.jpg" alt="" >
					<a href="#">PC Lenovo</a>
				</div>
				<div class="product-item" category="monitores">
					<img src="imagenes/monitor_asus.jpg" alt="" >
					<a href="#">Monitor Asus</a>
				</div>
				<div class="product-item" category="audifonos">
					<img src="imagenes/jbl.jpg" alt="" >
					<a href="#">Audifonos JBL</a>
				</div>
			</section>
		</div>
	</div>

</body>
</html>